body{
    margin: 0;
    box-sizing: border-box;
}
.progressContainer{
    position: fixed;
    left: 50%;
    top: 10px;
    height: 20px;
    width: 200px;
    background-color: rgb(216, 137, 137);
}
.progressContainer .progress-bar{
    /* position: absolute; */
    height: 100%;
    background-color: rgb(131, 189, 189);
    animation: progress-animation 5s forwards;
}
@keyframes progress-animation {
    0% { width: 0%;}
    100% { width: 100%;}
}
.sidenav_left{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 100%;
}

.icon-bar div{
    display: flex;
    margin: 10px;
    justify-content: left;
    align-items: center;
}
.homeContainer,
.searchContainer,
.locationContainer{
    width: 24px;
    height: 24px;
    position: relative;
    transition: .4s;
    cursor: pointer;
    border: 1px solid transparent;
}
.searchContainer:hover,
.searchContainerActive{
    width: 150px;
    transition: .4s;
    border: 1px solid white;
    color: white;
}

.searchContainer input{
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    caret-color: transparent;
    transition: .4s;
    outline: none;
    padding-left: 0;
    padding-right: 0;
}
.searchContainer:hover input{
    height: 100%;
    width: 100%;
    caret-color: white;
    transition: .4s;
    outline: none;
}
.searchInput::-webkit-search-cancel-button{
    position:relative;
    right:10px;
    font-size: 1.2rem;
    cursor: pointer;
}

i.fa-house,
i.fa-magnifying-glass,
i.fa-location-dot{
    font-size: 1.5rem;
}