body{
    margin: 0;
}

.objectInfo{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 200px;
    height: 400px;
    border: 2px solid red;
    border-radius: 10px;
    word-wrap: break-all;
    padding: 4px 4px;
}