.sidenav-right-bottom {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: #1a1a1a;
  color: #f0f0f0;
  font-family: monospace;
  font-size: 12px;
  padding: 4px 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: none;
  white-space: nowrap; /* ⚠️ ngăn xuống dòng */
  pointer-events: none; /* không gây cản trở chuột */
}

.sidenav-right-bottom span {
  margin: 0 4px;
}
