#infoContent {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.info-row {
	display: flex;
	justify-content: space-between;
	padding: 6px 10px;
	border-radius: 4px;
}

.info-row:nth-child(odd) {
	background-color: #2a2a2a; /* đen nhạt */
	color: #f1f1f1;
}

.info-row:nth-child(even) {
	background-color: #3a3a3a; /* xám */
	color: #f1f1f1;
}

.info-label {
	font-weight: 600;
	color: #ccc;
}

.info-value {
	text-align: right;
	color: #fff;
	overflow-wrap: break-word;
	max-width: 150px;
}